* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.navegacao {
    background-color: #a0bed0;
    border: 1px;
    border-color: #829dad;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 10% 0 0;
    padding: 2%;
    color: #ffffff;
}

.menu__item {
    list-style: none;
    margin: 0 2%;
}

.cabecalho {
    background-image: url("../img/foto-banner.jpg");
    background-size: cover;
    background-position: center;
    min-height: 80vh;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apresentacao__nome {
    margin: 5% 0 0 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 105px;
    color: rgba(255, 255, 255, .9);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 100;
}

.apresentacao__slogam {
    color: #efefef;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 0;
    width: 33%;
    text-align: center;
}

.apresentacao__botao {
    background-color: #829dad;
    font-family: 'Nunito', sans-serif;
    padding: 1.2% 2.3%;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
}

.sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
    text-align: center;
    padding: 5.5% 0;
}

.sobre__nome {
    color: #efefef;
}

.sobre p {
    text-align: center;
    color: #9e9e9e;
    margin: 0;
}

.sobre__apresentacao {
    width: 60%;
}

.sobre__apresentacao2 {
    width: 57%;
}

/* destinos */

.destinos {
    margin-top: 7%;
}

.siberia {
    display: flex;
    align-items: center;
    justify-content: center;
}

.siberia__img {
    width: 50%;
}

.borda-img {
    background-color: #829dad;
    display: block;
    width: 0.7%;
    height: 146px;
}

.siberia__conteudo {
    width: 26%;
    margin-left: 2.5%;
}

.siberia__titulo {
    margin: 0;
    color: #292929;
}

.siberia__trecho {
    margin: 2% 0 0 0;
    color: #777777;
}

.mosaico {
    margin-top: 4%;
}

.mosaico__destinos {
    display: flex;
    height: 360px;
    justify-content: center;
}

.mosaico__img {
    width: 40%;
}

.mosaico__conteudo {
    width: 40%;
    background-color: #1f1f1f;
    margin: 0;
}

.mosaico__texto {
    width: 93%;
    padding: 5%;
    margin-left: 4%;
}

.mosaico__titulo {
    color: #ffffff;
}

.mosaico__trecho {
    color: #c3c2c2;
}

.borda-artigo {
    background-color: #36b0e0;
    display: block;
    width: 29.7%;
    height: 5px;
}

.borda-artigo2 {
    background-color: #36b0e0;
    display: block;
    width: 29.7%;
    height: 5px;
    margin-left: 70%;
}

.texto__antartida {
    text-align: right;
}
,