.img-responsive {
    width: 50%;
    max-width: 50%;
    height: auto;
    display: block;
  }

.box {
    border: 1px solid #000;
    width: 320px;
    height: 120px;
    background-color: red;
  }

  @media (min-width: 768px) {
    .box {
      background-color: yellow;
     }
    }
    